/*
	****************** Settings ******************
*/

$desktopHD: 1010px;
$desktop: 960px;
$tablet: 768px;
$mobile: 540px;

$gutter: 20px;
$vgutter: 50px;

/*
	****************** Essentials ******************
*/
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased !important;
}

body {
	overflow-x: hidden;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	background-color: transparent;
		&:active,
		&:hover {
			outline: none;
		}
}

input, button, textarea {
	// TODO: This currently messes up checkboxes and radio's.
	// TODO: Add this for -moz- too?
	//-webkit-appearance: none;
}

button:focus {
	outline:0;
}


/*
	****************** Fluids ******************
	These columns are made for nesting.
	First define the max-width of .container and nest other classes in this element.
*/

$gridsize: 12;
$breakpoints: ("hd": $desktopHD, "d": $desktop, "t": $tablet, "m":$mobile);

.container {
	width: 100%;
	display: block;
	max-width: $desktopHD;
	&:after {
		content: "";
		display: table;
		clear: both;
    visibility: hidden;
    height: 0;
	}
}


//default metrics for columns
@for $i from 0 through $gridsize {
	.col-#{$i} {
		@if $i == 0 {
			display: none;
		} @else {
			display: block;
			width:  ( $i /$gridsize ) *100%;
		}
	}
}

@each $slug, $size in $breakpoints {
	@media (max-width: #{$size}) {
		@for $i from 0 through $gridsize {
			.col-#{$slug}-#{$i} {
				@if $i == 0 {
					display: none;
				} @else {
					display: block;
					width:  ( $i /$gridsize ) *100%;
				}
			}

		}

	}

}

.center {
	margin: 0 auto;
	float: none;
}
.left {
	float: left;
}
.right {
	float: right;
}

@media (max-width: $tablet) {
	.center-t {
		margin: 0 auto;
		float: none;
	}
	.left-t {
		float: left;
	}
	.right-t {
		float: right;
	}
}

@media (max-width: $mobile) {
	.center-m {
		margin: 0 auto;
		float: none;
	}
	.left-m {
		float: left;
	}
	.right-m {
		float: right;
	}
	.padding-m-0 {
		padding-left: 0;
		padding-right: 0;
	}
}

.padding {
	padding-right: $gutter;
	padding-left: $gutter;
}
.padding-top {
	padding-top: $vgutter;
}
.padding-bottom {
	padding-top: $vgutter;
}
.clearfix {
	clear: both;
}

.row {
	margin-left: -20px;
	margin-right: -20px;
}
