@import 'vendor/normalize.scss';
@import 'essentials.scss';
@import 'components/functions.scss';
@import 'components/colors.scss';
@import 'components/typography.scss';
@import 'components/buttons.scss';
@import 'components/navigation.scss';
@import 'components/slider.scss';
@import 'components/transitions.scss';

/*
	****************** Content ******************
*/




.projecten-grid {
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  animation: fadein 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}

.medewerkers-grid {
  padding-left: 20px;
}

.site-content {
    -webkit-transition: -webkit-transform .28s, opacity .28s;
    -ms-transition: -o-transform .28s, opacity .28s;
    -o-transition: -o-transform .28s, opacity .28s;
    transition: transform .28s, opacity .28s;
}

.slide-out {
    @media (max-width: $mobile) {
        animation: fade-out 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-fill-mode: forwards;
    }
    .overons {
        @media (min-width: $mobile) {
            margin-top: 480px;
            transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}

.overons {
  background-color: #fff;
  &__grid {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1190px) {
      .block:nth-child(8n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: 1190px) {
      .block:nth-child(8n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: 1000px) {
      .block:nth-child(8n+1) {
        margin-left: 0;
      }
      .block:nth-child(7n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: 929px) {
      .block:nth-child(7n+1) {
        margin-left: 0px;
      }
      .block:nth-child(6n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: 779px) {
      .block:nth-child(6n+1) {
        margin-left: 0;
      }
      .block:nth-child(5n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: $tablet) {
      .block:nth-child(5n+1) {
        margin-left: 0;
      }
      .block:nth-child(4n+1) {
        margin-left: 0;
      }
      .block:nth-child(6n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: 719px) {
      .block:nth-child(6n+1) {
        margin-left: 0;
      }
      .block:nth-child(5n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: 620px) {
      .block:nth-child(5n+1) {
        margin-left: 0;
      }
      .block:nth-child(4n+1) {
        margin-left: 100px;
      }
    }
    @media (max-width: $mobile) {
      .block:nth-child(4n+1) {
        margin-left: 0;
      }
      .block:nth-child(6n+1) {
        margin-left: 68px;
      }
    }
    @media (max-width: 495px) {
      .block:nth-child(6n+1) {
        margin-left: 0;
      }
      .block:nth-child(5n+1) {
        margin-left: 68px;
      }
    }
    @media (max-width: 427px) {
      .block:nth-child(5n+1) {
        margin-left: 0;
      }
      .block:nth-child(4n+1) {
        margin-left: 68px;
      }
    }
    @media (max-width: 359px) {
      .block:nth-child(4n+1) {
        margin-left: 0;
      }
      .block:nth-child(3n+1) {
        margin-left: 68px;
      }
    }
  }
}
// grid
.first {
  margin-left: 105px;
  transition: margin-left 1s ease;
  @media (max-width: $tablet) {
    margin-left: 100px;
  }
  @media (max-width: $mobile) {
    margin-left: 68px;
  }
}

.mason {
  position: relative;
  //left: 50px;
  overflow: hidden;
  //max-width: 1080px;
  //margin: 0 auto;
}

.block {
  &:before {
    // @include pseudo;
    // width: 240px;
    // height: 3px;
    // top: 50%;
    // position: absolute;
    // z-index: 9;
  }
  &:after {
    @include pseudo;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    position: absolute;
    
  }
  &:hover:after {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &-content {
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
  }
  cursor: pointer;
  width: 200px;
  height: 200px;
  @media (max-width: $tablet) {
    width: 180px;
    height: 180px;
  }
  @media (max-width: $mobile) {
    width: 116px;
    height: 116px;
  }
  background-color: #212121;
  background-size: cover;
  background-position: center center;
  position: relative;
  transition: background-color 0.2s;
  margin-bottom: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 5px solid #fff;
  @media (max-width: $mobile) {
    border: 0px;
  }
  h2, h3 {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    
    opacity: 0;
    text-align: center;
    line-height: 1.75;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    transition: background-color opacity 0.2s;
    z-index: 2;
    width: 100%;
    @media (max-width: $mobile) {
      position: relative;
      transform: inherit;
      left: inherit;
      margin: 10px 0;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    top: 35%;
    @media (max-width: $tablet) {
      top: 35%;
    }
    @media (max-width: $mobile) {
      line-height: 1.1;
      font-size: 18px;
      top: inherit;
      margin-top: 35px;
      margin-bottom: 0;
    }
  }
  h3 {
    font-size: 17px;
    font-weight: 400;
    top: 50%;
    @media (max-width: $mobile) {
      top: inherit;
      margin: 0;
      line-height: 1.5;
    }
  }
}

@media (hover: none) {

}
.mason {
  & > .mason__grid {
    h2 {
      top: 40%;
      @media (max-width: $tablet) {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        margin-top: 0;
        font-size: 15px;
        left: 0;
      }
    }
  }
}
.block:hover {
  .block-content {
    visibility: visible;
    opacity: 1;
    //transition: opacity 0.75s;
  }
  h2, h3 {
    visibility: visible;
    opacity: 1;
    //transition: opacity 0.75s;
    @media (hover: none) {
      opacity: 1;
    }
  }
}
.block {
  opacity: 1;
  transition: opacity 150ms linear;
  &--hidden {
    display: none;
  }
}
.mason__grid {
  display: flex;
  flex-wrap: wrap;
}

.ruler-standard {
  position: absolute;
  width: 1px;
  height: 9000px;
  background-color: #fff;
  transform: rotate(26.57deg);
  top: 0;
  z-index: 10;
  transform-origin: top center;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
}


@for $i from 1 through 50 {
    .ruler#{$i} {
        left: ($i * 220px) + 160px;
        @media (max-width: $tablet) {
          left: ($i * 200px) + 145px;
        }
        @media (max-width: $mobile) {
          left: ($i * 135px) + 100px;
        }
        @extend .ruler-standard;
    }
}



.filters label,
.filters input {
  cursor: pointer;
  @media (min-width: 700px) {
    text-transform: uppercase;
  }
}



.fade-in {
	opacity: 0 !important;
	transition: opacity 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode:forwards;
}
.medewerkers__social {
  margin-top: 18px;
}
.single {
  &__bio {
    &--functie {
      margin: 18px 0;
    }
    p {
      margin: 0;
    }
  }
  &-medewerker {
    background-color: white;
    z-index: 99999;
    position: relative;
    margin-bottom: 80px;
    @media (max-width: $mobile) {
      position: absolute !important;
      top: 0;
      height: 100vh;
    }
    &__pic {
      position: relative;
      height: 350px;
      background-repeat: no-repeat;
      background-position: 0 20%;
      background-size: cover;
      @media (min-width: $mobile) {
        border-right: 20px solid #fff;
        border-left: 20px solid #fff;
        height: 500px;
      }
      &--close {
        display: none;
        @media (max-width: $mobile) {
          cursor: pointer;
          position: absolute;
          top: 50px;
          right: 30px;
          display: block;
          width: 20px;
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  &__vergelijkbare {
    font-size: 26px;
    color: $c-orange;
    position: relative;
    top: 150px;
    left: 20px;
    &>div {
      padding-bottom: 50px;
    }
    @media (max-width: $tablet) {
      top: 50px;
    }
  }
}

.medewerkers {
	&__social {
		img, svg {
			width: auto;
			height: 30px;
			margin-right: 15px;
			path {
        transition: fill 300ms cubic-bezier(0.23, 1, 0.32, 1);
        &:hover  {
  				fill: darken($c-orange, 10%);
          transition: fill 300ms cubic-bezier(0.23, 1, 0.32, 1);
  			}
      }
		}
	}
}
.sidebar__top {
  margin-top: 70px;
  @media (max-width: $tablet) {
    margin-top: 0px;
  }
  @media (max-width: $mobile) {
    //margin-top: -20px;
  }
  ul {
    padding-left: 0;
    position: relative;
    @media (max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      list-style-type: none;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
  a {
    color: $c-orange;
    letter-spacing: 1px;
  }
  img {
    width: 16px;
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
  &--360 {
    cursor: pointer;

    @media (max-width: $tablet) {
      padding: 0 5px;
    }
    span {
      color: $c-orange;
    }
  }
  &--autodesk {
    cursor: pointer;
    span {
      color: $c-orange; 
    }
  }
}


.iframe-wrap {
  visibility: hidden;
}

.opened__autodesk {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  .iframe-wrap {
    visibility: visible;
    width: 80vw;
    height: 80vh;
    @media (max-width: $tablet) {
      width: 85vw;
      height: 60vh;
    }
    @media (max-width: $mobile) {
      width: 98vw;
      height: 60vh;
    }
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    #autodesk__iframe {
      width: 100%;
      height: 100%;
    }
  }
  .iframe-wrap__bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,.75);
    top: 0;
    left: 0;
    z-index: 999;
  }
}

.project {
  &-main {
    margin-top: 20px;
    @media (max-width: $tablet) {
      margin-top: 0;
    }
  }
}
.single {
  &-project {
    margin-bottom: 200px;
    @media (max-width: $tablet) {
      margin-bottom: 50px;
    }
    &--titel {
      margin-bottom: 0;
    }
    &--subtitel {
      margin-top: 0;
      font-weight: 300;
      font-style: italic;
      font-size: 16px;
    }
    &__sidebar {
      font-weight: 300;
      color: $c-black;
      .sidebar--p {
        font-size: 16px;
        margin: 0;
        line-height: 1.5
      }
      h2 {
        color: $c-orange;
      }
      h3 {
        font-size: 14px;
        color: $c-orange;
        text-transform: uppercase;
        margin: 30px 0 5px;
        line-height: 1;
        letter-spacing: 1px;
      }
      ul {
        margin: 0;
        padding-left: 0;
        li {
          list-style-type: none;
        }
      }
    }
  }
}


//CONTACT

.contact {
  margin-bottom: 150px;
  &__title {
    margin: 0 0 30px;
  }
  ul {
    li {
      list-style-type: none;
      color: #242424;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
    }
  }
  &__lidvan {
    display: inline-block;
  }
  &__adres {
    ul {
      padding-left: 0;
      text-align: right;
    }
    &--locatie {
      @media (max-width: $mobile) {
        ul {
          text-align: left;
        }
      }
    }
  }
  &__tel {
    @media (min-width: $mobile) {
      margin-top: 5px;
    }
    a {
      text-decoration: none;
      color: $c-black;
    }
  }
}

#map {
  position: relative;
  top: 50px;
  height: 400px;
  width: 100%;
 }
  
.mason__grid:hover > .block {
  opacity: 0.7;
  transition: opacity 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mason__grid:hover > a:hover,
.mason__grid:hover > div:hover {
  opacity: 1.0;
  transition: opacity 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}