nav {
	padding: 75px 0 60px;
	@media (max-width: $tablet) {
		padding: 30px 0;
	}
}
.logo {
    img {
        width: 70%;
        top: 10px;
        position: relative;
        @media (max-width: 700px) {
            top: 15px;
        }
    }
}
.navmenu {
    ul {
        padding-left: 0;
    }
	li {
		display: inline-block;
		margin: 0 40px;
		@media (max-width: 850px) {
			margin: 0 20px;
		}
		@media (max-width: 700px) {
			display: block;
		}
		a {
			color: #000;
			text-decoration: none;
            font-size: 36px;
			@media (min-width: 701px) {
				text-transform: uppercase;
                font-size: 14px;
			}
		}
	}
}

.toggle {
	top: 35px;
	color: #000;
	padding: 15px 20px;
	z-index: 9999;
	display: table;
	position: absolute;
	right: 0;
	cursor: pointer;
		z-index: 999;
	    padding: 20px;
	    display: table;
	    position: absolute;
        right: 20px;
        top: 40px;
	@media (min-width: 701px) {
		display: none;
	}
}

.lang {
    font-size: 14px;

	margin: 17px 0;
    
    &-item {
        list-style-type: none;
        text-transform: uppercase;
        display: inline-block;
        &-nl:after {
            @include pseudo;
            content: " / ";
            float: right;
            display: inline-block;
        }
        &-en a {
            padding-left: 3px;
        }
        a {
            color: lighten($c-black, 60%);
        }
    }
    .current-lang a {
        color: $c-black;
    }   
}




.filters {
	opacity: 1;
	display: block;
    float: right;
    position: relative;
    right: 180px;
    label {
        font-size: 14px;
    }
    &__container {
        position: relative;
        top: -45px;
        @media (max-width: $tablet) {
            top: -20px
        }
        margin-top: -18px;
        display: none;
    }
    input {
        text-transform: uppercase;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        margin: 0 10px 20px;
        &.active {
            //background-color: lighten($c-orange, 15%);
        }
    }
    @media (max-width: 850px) {
        input {
            margin: 0 5px 20px;
        }
        right: 100px;
    }
    @media (min-width: 700px) {
        .button__filter {
            display: none;
        }
        .filter__toggle {
            visibility: hidden;
            ul {
                padding-left: 0;
                margin: 0;
            }
            li {
                list-style: none;
                display: inline-block;
            }

        }
        .filter__toggled {
            visibility: visible;
        }
    }
    @media (max-width: 700px) {
        &__container {
            top: 0;
        }
        // display: flex;
        // flex-direction: column;
        width: 100%;
        right: 0;
        //margin-bottom: 50px;
        cursor: pointer;
        .active {
            font-weight: bold;
        }
        .button__filter {
            text-align: center; 
        }
        input {
            margin: 0 5px 5px;
        }
        .filter__toggle {
            display: flex;
            flex-direction: column;
            height: 0;
            visibility: hidden;
            li {
                list-style: none;
                width: 50%;
                margin-bottom: 10px;
            }
            & > label {
                text-align: left;
            }
            &--opened {
                height: 100%;
                visibility: visible;
                transition: height 1s ease;
            }
            &--kwad {
                display: flex;
                flex-wrap: wrap;
                label {
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 700px) {
    .filter__toggle--kwad {
        display: inline-block !important;
    }
}

.nav__wrapper {
    padding-right: 10px;
}
@media (max-width: 700px) {
	.navmenu {
		top: 50%;
		transform: translateY(-50%);
	    position: absolute;
	    font-size: 30px;
	    font-weight: bold;
		ul {
			padding-left: 0;
		}
	    li {
	    	padding: 20px 0;
	    }
	}
	.nav__wrapper {
		display: table;
	    position: fixed;
	    right: -100%;
	    top: 0;
	    background-color: #F2F2F2;
	    width: 75vw;
	    height: 100vh;
	    z-index: 99;
	    transition: right 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.menu--opened {
		position: fixed;
		left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		.nav__wrapper {
			right: 0;
			transition: right 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
            box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.16);
		}
	}
	.menu-item {
		a {
			color: lighten($c-black, 60%) !important;
		}
		
	}
    .single-projecten .menu__projecten,
	.current-menu-item {
		a {
			color: $c-black !important;
		}
	}
	.lang {
		position: absolute;
		left: 40px;
		top: 36px;
	}
}


.hamburger {
    position: absolute;
	top: 50%;
    right: 0;
    transform: translateY(-50%);
    .line {
        animation: open-in 0.3s cubic-bezier(0.18, 0.89, 0.67, 1.16) 0.3s 1 normal forwards;
        transform: scaleX(0);
        position: relative;
        width: 24px;
        height: 2px;
        background: #000;
        
        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin-top: 4px;
        }
        &:nth-of-type(2) {
        	width: 24px;
            animation-delay: 0.36s;
        }
        &:nth-of-type(3) {
            animation-timing-function: cubic-bezier(0.18, 0.89, 0.63, 1.26);
            animation-delay: 0.42s;
            width: 24px;
        }
    }
}
.closed {
    transform: rotate(45deg); 
    position: absolute;
	opacity: 0;
	right: 15px;
	top: 9px;
    transition: all 1s; 
    .line {
        background: #000;
        &:nth-of-type(1) {
            animation: close-out-2 0.3s linear 0s 1 normal forwards;
            position: absolute;
            width: 25px;
            height: 2px;
            left: -1px;
            top: 5px;
        }
        &:nth-of-type(2) {
            animation: close-out-1 0.3s linear 0.1s 1 normal forwards;
            position: absolute;
            width: 2px;
            height: 25px;
            left: 10px;
            top: -6px;
        }
    }
}



.menu--opened {
    .hamburger {
        .line {
            transform: scaleX(1) translateX(0);
            animation: open-out-2 0.4s linear 0s 1 normal forwards;


            &:nth-of-type(1) {
                animation-delay: 0.16s;
            }
            &:nth-of-type(2) {
                animation: open-out-1 .5s cubic-bezier(0.075, 0.82, 0.165, 1) normal forwards;
                animation-delay: 0.08s;
            }
            &:nth-of-type(3) {
                animation-delay: 0s;
            }
        }
    }
    .closed {
    	opacity: 1;
        .line {

            &:nth-of-type(1) {
                //animation: close-in-1 0.3s cubic-bezier(0.18, 0.89, 0.67, 1.16) 0.6s 1 normal forwards;
                animation: close-in-2 0.3s linear 0.1s 1 normal forwards;
                transform: scaleY(0);
                animation-delay: 0.40s;
            }
            &:nth-of-type(2) {
                //animation: close-in-2 0.3s cubic-bezier(0.18, 0.89, 0.67, 1.16) 0.5s 1 normal forwards;
                animation: close-in-1 0.3s linear 0.1s 1 normal forwards;
                transform: scaleY(0);
                animation-delay: 0.48s;
            }
        }
    }
}

@keyframes open-in {
    0% {
        transform: scaleX(0);
        transform-origin: 0 0;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 0 0;
    }
}
@keyframes open-out-1 {
    0% {
        transform: scaleX(1) translateX(0);
        transform-origin: 0 100%;
    }
    35% {
        transform: scaleX(0.9) translateX(5px);
        transform-origin: 0 100%;
    }
    100% {
        transform: scaleX(0) translateX(-5px);
        transform-origin: 0 100%;
    }
}

@keyframes open-out-2 {
    0% {
        transform: scaleX(1) translateX(0);
        transform-origin: 100% 0;
    }
    35% {
        transform: scaleX(0.9) translateX(-5px);
        transform-origin: 100% 0;
    }
    100% {
        transform: scaleX(0) translateX(5px);
        transform-origin: 100% 0;
    }
}
@keyframes close-in-1 {
    0% {
        transform: scaleY(0) translateY(-10px);
        transform-origin: 0 0;
    }
    100% {
        transform: scaleY(1) translateY(0);
        transform-origin: 0 0;
    }
}
@keyframes close-in-2 {
    0% {
    transform: scaleX(0) translateX(-10px);
    transform-origin: 0 0;
    }
    100% {
        transform: scaleX(1) translateX(0);
        transform-origin: 0 0;
    }
}
@keyframes close-out-1 {
    0% {
        transform: scaleY(1) translateY(0);
        transform-origin: 100% 100%;
    }
    100% {
        transform: scaleY(0) translateY(10px);
        transform-origin: 100% 100%;
    }
}

@keyframes close-out-2 {
    0% {
        transform: scaleX(1) translateX(0);
        transform-origin: 100% 100%;
    }
    100% {
        transform: scaleX(0) translateX(10px);
        transform-origin: 100% 100%;
    }
}

.control {
    font-size: 16px;
    position: relative;
    display: block;
    // margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 1px;
    left: 11px;
    width: 14px;
    height: 14px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: $c-orange;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: $c-orange;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}