.slider {
	padding-left: 0;
	list-style-type: none;
	visibility: hidden;
	opacity:0;
  	transition: opacity 0.5s linear;
  	cursor: pointer;
	&counter {
		display: none; 
		@media (max-width: $tablet) {
			display: table;
			padding: 5px 15px;
			background-color: rgba(255, 255, 255, 0.4);
			color: #fff;
			position: relative;
			top: -39px;
		}
	}
	&-thumbnails {
		//-ms-overflow-style: -ms-autohiding-scrollbar;
		-ms-overflow-style: none;
		height: 420px;
		overflow: scroll;
		padding-left: 10px;
		padding-right: 10px;
		overflow-x: hidden;
		width: 30.33333%;
		@media (max-width: 960px) {
			height: 400px;
		}
	}
	
}

.slick-slide {
    text-align: center;
}
.slick-slide img {
    max-width: 100%;
    max-height: 420px;
    display: inline-block;
}

.slider-thumbnails::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
	background-color: #DEDEDE;
	position: relative;
	right: 20px;
}

.slider-thumbnails::-webkit-scrollbar
{
	width: 6px;
	background-color: #DEDEDE;

}

.slider-thumbnails::-webkit-scrollbar-thumb
{
	background-color: $c-orange;
	position: relative;
	right: 20px;
}
// ::-webkit-scrollbar {
//     width: 0px;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }
.slider.slick-initialized { 
	visibility: visible; 
	opacity:1;
  	transition: opacity 0.5s linear;
}

.slick-slide {
	// height: 420px;
	// @media (max-width: 960px) {
	// 	height: 400px;
	// }
	// img {
	// 	width: 100%;
	// }
	// text-align:center;
	// overflow: hidden;
	// cursor: pointer;
	// @media (max-width: $mobile) {
	// 	height: 300px;
	// }
	// img {
	//     display: block;
	//     width: 100%;
	//     height: 100%;
	//     display: inline-block;
	// }
	&:focus, a {
	    outline: none;
	}
	&r {
		margin: 0;
	}
}
.slider-nav-thumbnails,
.slider-nav-thumbnails--tekeningen {
	//background-color: #F7F7F7;

}
.slider-nav-thumbnails img,
.slider-nav-thumbnails--tekeningen img {
	// width: 74px;
	// height: 74px;
	width: 28%;
	margin: 5px;
	@media (max-width: 934px) {
		width: 27%;
		//height: 70px;
		margin: 6px 3px;
	}
}
.slider-nav-thumbnails {
	margin-top: -5px;
}
.slider-nav-thumbnails:nth-of-type(2) {
	//border-top: 5px solid white;
	//padding: 0 9px 10px 9px;
}

.slider-nav-thumbnails {
	a {
		img {
			border: 2px solid #fff;
		}
	}
	.slick-current {
		img {
			border: 2px solid $c-orange;
			transition: border-color 200ms linear;
		}
	}
}
.prev, .next, .slick-arrow {
	display: none !important;
	@media (max-width: $tablet) {
		display: block !important;
		position: absolute;
		width: 30px;
		height: 30px;
		bottom: 50%;
		background-color: rgba(255,255,255,.8);
		svg {
			margin: 12px;
		}
	}
}

.next {
	@media (max-width: $tablet) {
		right: 20px;
		transform: rotate(180deg);
	}
	@media (max-width: $mobile) {
		right: 0;
	}
}

// .slider__tekening {
// 	img {
// 		height: auto;
// 		width: 100%;
// 	}
// }

.fscenter {
	p {
		display: none;
	}
}

.slider__fullscreen {
	position: fixed;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	.slider {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw !important;
		z-index: 999;
		background-color: rgba(255, 255, 255, 0.75);
	// 	.slick-slide {
	// 		height: 80vh;
	// 		@media (max-width: $mobile) {
	// 			height: 40vh;
	// 		}
	// 		position: relative;
	// 		// width: 100vw;
	// 	}
	// 	// .slick-current {
	// 	// 	width: 100vw !important;
	// 	// 	height: 100vh;
	// 	// }
	}

	.slick-track {
		display: flex; 
		align-items: center;
	}
	.slick-list,
	.slick-track {
		height: 100%;
	}
	.prev {
		//display: block !important;
		position: fixed;
		left: 0;
		top: 50%;
		z-index: 999;
		// &__icon {
		// 	svg {
		// 		height: 20px;
		// 		width: 20px;
		// 		position: relative;
		// 		top: 15px;
		// 		left: 13px;
		// 	}
		// }
	}

	.next {
		//display: block !important;
		position: fixed;
		right: 0;
		top: 50%;
		z-index: 999;
		&__icon {
			// @extend .prev__icon;
			// svg {
			// 	transform: rotate(180deg);
			// 	transform-origin: center;
			// 	left: 15px;
			// }
		}
	}
	.prev, .next {
		cursor: pointer;
	}
	.prevnextbutton {
		color: $c-black;
		background-color: #eeeeee;
		cursor: pointer;
		//z-index: 9999;
		width: 40px;
		height: 40px;
		transition: background-color 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335);;
		&:hover {
			background-color: darken(#eee, 5%);
			transition: background-color 100ms cubic-bezier(0.6, 0.04, 0.98, 0.335);;
			svg {
				fill: lighten($c-black, 5%);
			}
		}
	}
	.slick-slide {
		img {
			max-width: 100%;
			max-height: 95vh;
		}
	}
	.slick-slide::before {
	    content: '';
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}

	.slick-slide .fscenter {
	    vertical-align: middle;
	    display: inline-block;
	    width: 90%;
	    p {
			background-color: #fff;
			display: table;
			text-align: center;
			margin: 0 auto;
			padding: 5px 15px;

	    }
	}
	.slick-arrow {
		display: none;
		@media (max-width: $tablet) {
			display: block;
		}
	}
	// .slick-slide {
	// 	img {
	// 	    width: auto;
 //    		height: 100%;
	// 	}
	// 	p {
	// 		position: absolute;
	// 		// top: -125px;
	// 		@media (max-width: $mobile) {
	// 			bottom: 10px;
	// 			font-size: 12px;
	// 			line-height: 1.3;
	// 		}
	// 		background-color: rgba(255, 255, 255, 0.8);
	// 		padding: 10px 50px;
	// 		display: table;
	// 		margin: 0 auto;
	// 		&:first-of-type {
	// 			margin-bottom: 10px;
	// 		}
	// 	}
	// }
	// .slider__tekening {
	// 	img {
	// 		height: 100% !important;
	// 		width: auto !important;
	// 	}
	// }
}




.single-project__slider {
	position: relative;

		height: 420px;

	@media (max-width: 960px) {
		height: 400px;
	}
	@media (max-width: $mobile) {
		padding-left: 0;
		padding-right: 0;
		height: 300px;
	}
}


.toggled {
	position: fixed;
	top: 0;
	right: 0;
}

.panorama__wrapper {
	visibility: hidden;
	width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    #panorama {
		position: fixed;
	    max-width: 1200px;
	    height: 600px;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    z-index: 9999;
	    @media (max-width: $mobile) {
	    	height: 400px;
	    }
	}
}

.opened__360 {
	position: fixed;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	.panorama__wrapper {
		visibility: visible;
	}
	.panorama__bg {
		position: fixed;
		height: 100vh;
		width: 100vw;
    	background-color: rgba(255, 255, 255, 0.75);
		top: 0;
		left: 0;
		z-index: 999;
	}
}

.pnlm-load-button p,
.pnlm-load-box p {
    color: white;
}

// .slick-slider {
// 	.portrait {
// 			height: 420px !important;
// 	    	width: auto !important;
// 	}
// }



// .slider__fullscreen {
// 	.slider__tekening {
// 		img {
// 			height: 100%;
// 			width: 100%;
// 		}
// 	}
// }
