@keyframes omlaag {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 100vh);
        opacity: 1;
    }
}

@keyframes omhoog {
    0% {
        // transform: translate(0, 100vh);
        opacity: 0;
    }
    100% {
        // transform: translate(0, 0);
        opacity: 1;
    }
}

.lati {
  display: none;
}



@media (max-width: $mobile) {
  #tempWrapper {
    .single-medewerker {
      animation: omlaag 1.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      z-index: 9999;
      position: relative;
      width: 100%;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate(0, 100vh);
    }
    1% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .m-scene .sceneElement {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both; 
  }

  .m-scene .sceneElement--fadeinright {
    position: relative;
    animation-name: fadeInRight; 
  }

  .m-scene.is-exiting .sceneElement {
    animation-direction: alternate-reverse; 
  }

  @keyframes fadeInRight2 {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    1% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: translate(0, -100vh);
    }
  }

  .m-scene2 .sceneElement {
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both; 
  }

  .m-scene2 .sceneElement--fadeinright2 {
    position: relative;
    animation-name: fadeInRight2; 
  }

  .m-scene2.is-exiting .sceneElement {
    animation-direction: alternate-reverse; 
  }

  .ontop {
    z-index: 999;
    //position: absolute !important;
    //top: 0 !important;
    width: 100%;
  }
}

// @media (min-width: $mobile) {
//   #tempWrapper {
//     .single-medewerker {
//       // animation: omlaag 1.5s;
//       // animation-delay: 0.5s;
//       // animation-fill-mode: forwards;
//       // z-index: 9999;
//       // position: relative;
//       // width: 100%;
//     }
//   }

//   @keyframes fadeInRight {
//     0% {
//       opacity: 0;
//       transform: translate(0, 0);
//     }
//     1% {
//       opacity: 1;
//     }

//     100% {
//       opacity: 1;
//       transform: translate(0, 50vh);
//     }
//   }

//   .m-scene .sceneElement {
//     animation-duration: 1s;
//     transition-timing-function: ease-in;
//     animation-fill-mode: both; 
//   }

//   .m-scene .sceneElement--fadeinright {
//     position: relative;
//     animation-name: fadeInRight; 
//   }

//   .m-scene.is-exiting .sceneElement {
//     animation-direction: alternate-reverse; 
//   }

//   @keyframes fadeInRight2s {
//     0% {
//       opacity: 0;
//       transform: translate(0, 0);
//     }
//     1% {
//       opacity: 1;
//     }

//     100% {
//       opacity: 1;
//       transform: translate(0, -100vh);
//     }
//   }

//   // .m-scene2 .sceneElement {
//   //   animation-duration: 0.5s;
//   //   transition-timing-function: ease-in;
//   //   animation-fill-mode: both; 
//   // }

//   .m-scene2 .sceneElement--fadeinright2 {
//     position: relative;
//     animation-name: fadeInRight2; 
//   }

//   .m-scene2.is-exiting .sceneElement {
//     animation-direction: alternate-reverse; 
//   }

//   .ontop {
//     z-index: 999;
//     //position: absolute !important;
//     //top: 0 !important;
//     width: 100%;
//   }
// }

@keyframes weg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}




//TABLET DESKTOP
@media (min-width: $mobile) {
    .over__ons {
        .page-template-page-overons {
            position: relative;
            top: 0;
        }
    }
    .slide-out-new {
        .page-template-page-overons {
            top: 580px;
            transition: top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        .tupac {
            opacity: 0;
            transition: all 0.5s ease;
        }

    }
    .single-medewerker {
        opacity: 1;
        transition: all 0.5s ease;
    }
}


@keyframes fademedewerker {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
