$font-primary : 'Roboto Condensed', Helvetica, Arial, sans-serif;
$font-secondary : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body, html {
	font-family: $font-primary;
}

p {
	color: $c-black;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	strong {
		font-weight: 600;
	}
}

.overons__tekst {
	max-width: 800px;
}
h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 48px;
}

h2 {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	@media (max-width: $mobile) {
		font-size: 21px;
	}
}

h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
}

h5 {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

h6 {
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
}
